/*body{
    background-image: url("../images/rahmen.png"), url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}
*/

body:before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  -webkit-filter: blur(8px);
  background-image: url("../images/rahmen.png"), url("../images/bg.jpg");
  background-size: 100% 100%;
}

/* Login / Register */
.box{
	width: 600px;
	height: 600px;
	margin:0 auto;
	background: rgba(255, 255, 255, .5);
	box-shadow: -10px -10px 50px white, 
				 10px 10px 50px white;
}

.box nav ul li {
    float: left;
    list-style: none;
    text-align: center;
	text-decoration: none;
    background: rgba(255, 255, 255, .5);
    width: 250px;
	height:30px;
	
	
}

.box nav ul li a{
    text-decoration: none;
    color: black;
    display: block;
}
 
.box nav ul li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

.box nav ul li.active a {
    background: rgba(255, 255, 255, .5);
}



