/*body{
    background-image: url("../images/rahmen.png"), url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}
*/

body {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  /*-webkit-filter: blur(8px);*/
  background-image: url("../images/rahmen_blur.png"), url("../images/bg_blur.jpg");
  background-size: 100% 100%;
}

/* Login / Register */
.box{
	width: 600px;
	height: 600px;
	margin:0 auto;
	background: rgba(255, 255, 255, .5);
	box-shadow: 12px 12px 40px white;
}

.box .btn1 {
	float: left;
    text-align: center;
    background: rgba(255, 255, 255, .5);
    width: 284px;
	height:50px;
}

.box .lr_container{
	width: 400px;
    margin: 0 auto;
}
