/*body{
    background-image: url("../images/rahmen.png"), url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: auto;
}
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}
  
body {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
  /*-webkit-filter: blur(8px);*/
  background-image: url("../images/rahmen_blur.png"), url("../images/bg_blur.jpg");
  background-size: 100% 100%;
}

/* Login / Register */
.box{
	width: 300px;
	height: 500px;
	margin:5% auto;
	
	background: rgba(255, 255, 255, .5);
	box-shadow: 12px 12px 40px black;
	-webkit-border-radius: 4px 4px 4px 4px; 
	-moz-border-radius: 4px 4px 4px 4px; 
	border-radius: 4px 4px 4px 4px;
	
}

.box .login {
    text-align: center;
	font-size: 16px;
	color: #4c4c4c;
	padding-top: 2px;
	width: 200px;
	left:-15%;
}

.box .register {
    text-align: center;
	font-size: 16px;
	color: #4c4c4c;
	padding-top: 2px;
	width: 200px;
	left:-15%;
}

.box .center{
	padding-left: 25%;
}

.box h1{
	font-size: 32px;
	font-weight: 300;
	color: #4c4c4c;
	text-align: center;
	padding-top: 10px;
	margin-bottom: 10px;
}

.box hr{
  color: #a9a9a9;
  opacity: 0.3;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

#icon {
  width: 30px;
  height:15px;
  padding: 2px 0px 2px 10px;
  margin-left: -40px;
  margin-top: 21px;
  color: white;
}

.errorMsg{
	color: #cc0000;margin-bottom: 10px
}